# Python byte-code
*.py[co]

# virutalenv directories
/env*/

# test files/directories
.coverage
.pytest_cache/
/.tox/

# setup and upload directories
/build/
/dist/
/modelqueue.egg-info/

# macOS metadata
.DS_Store
